In [1]:
import pandas as pd
from pathlib import Path

In [59]:
file = Path("Resources/budget_data.csv")
budget_df = pd.read_csv(file)
budget_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [60]:
#total number of moths

total_months = budget_df['Date'].count()

86

In [61]:
#total of p/l
total_pl = budget_df['Profit/Losses'].sum()

In [62]:
budget_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [63]:
#changes in p/l

# Calculate month-to-month changes
budget_df.loc[:, 'Profit/Losses'] = budget_df['Profit/Losses'].diff()

print(budget_df.head())

     Date  Profit/Losses
0  Jan-10            NaN
1  Feb-10     -1443517.0
2  Mar-10       631156.0
3  Apr-10     -1004755.0
4  May-10      1581126.0

In [64]:
#mean of p/l change

mean_change = budget_df['Profit/Losses'].mean()

In [71]:
#biggest increase
highest_increase = budget_df.loc[budget_df['Profit/Losses'].idxmax()]

In [72]:
#biggest decrease
greatest_decrease = budget_df.loc[budget_df['Profit/Losses'].idxmin()]

In [73]:
#print 

print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total_pl}")
print(f"Average Change: ${mean_change:.2f}")
print(f"Greatest Increase in Profits: {highest_increase['Date']} (${int(highest_increase['Profit/Losses'])})")
print(f"Greatest Decrease in Profits: {greatest_decrease['Date']} (${int(greatest_decrease['Profit/Losses'])})")

Financial Analysis
----------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: Aug-16 ($1862002)
Greatest Decrease in Profits: Feb-14 ($-1825558)

In [79]:
# Specify the path to the file
output_path = Path('/Users/lanahuyen/python-challenge/PyBank') / 'financial_analysis.txt'

# Open the file and write to it
with open(output_path, 'w') as file:
    file.write("Financial Analysis\n")
    file.write("----------------------------\n")
    file.write(f"Total Months: {total_months}\n")
    file.write(f"Total: ${total_pl}\n")
    file.write(f"Average Change: ${mean_change:.2f}\n")
    file.write(f"Greatest Increase in Profits: {highest_increase['Date']} (${highest_increase['Profit/Losses']})\n")
    file.write(f"Greatest Decrease in Profits: {greatest_decrease['Date']} (${greatest_decrease['Profit/Losses']})\n")